* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --purple: #6610f2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  position: relative;
}

nav {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px 40px 25px 50px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: white;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  z-index: 200;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav ul a:hover {
  color: var(--purple);
}

nav ul a {
  color: #2d2e32;
  text-decoration: none;
  transition: color 1.00s; 
  font-weight: 600;
  position: relative; 
}

nav ul a::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black; 
  transform-origin: center; 
  transition: transform 0.5s, width 0.3s; 
  transform: scaleX(0); 
}

nav ul a:hover::after {
  transform: scaleX(1); 
  background-color: var(--purple); 
}

nav ul a::after {
  transition: transform 0.5s, width 0.3s, background-color 0.5s;
}

.logo {
  cursor: pointer;
  color: var(--purple);
  animation: colorTransition 5s infinite;
}

.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.sidebar a{
  font-size: 1.5em;
}

.mainbar li:last-child {
  cursor: pointer;
}

.sidebar li:first-child {
  cursor: pointer;
}

@keyframes colorTransition {
  0% {
    color: var(--purple); 
  }
  25% {
    color: #2d2e32; 
  }
  50% {
    color: var(--purple); 
  }
  75% {
    color: #2d2e32; 
  }
  100% {
    color: var(--purple); 
  }
}

@media (min-width: 1001px){
  .mainbar li:last-child {
    display: none;
  }
}

@media (max-width: 1000px) {
  .mainbar li:not(:last-child) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.maincontainer {
  height: 100vh;
  width: 100%;
}

.hero-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 10rem;
}

.tech-stack{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2.5rem;
}

.tech-text{
  display: flex;
  flex-direction: column;
  font-family: inherit;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 550px;
}

.tech-text h1{
  color: #2d2e32;
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem
}

.tech-text p{
  color: #555;
  font-family: Mulish,sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.6;
}

.tech-text p span{
  padding-right: 2rem;
  border-right: 2px solid rgba(45,46,50,.5)
}

.icon-box{
  height: 10rem;
  position: relative;
  width: 45rem;
  display: flex;
  justify-content: center;
}

.icon-box ul{
  display: flex;
  list-style-type: none;
  margin: auto;
  gap: 1.5rem;
  justify-content: center;
}

.icon-box ul li {
  align-items: center;
  cursor: pointer; 
  transition: transform 0.2s ease; 
  position: relative; 
}

.icon-box ul li::before {
  content: '';
  position: absolute;
  top: -10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 6px; 
  height: 6px; 
  border-radius: 50%;
  background-color: purple;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.icon-box ul li:hover {
  transform: translateY(-5px); 
}

.icon-box ul li:hover::before {
  animation: fireworks 0.5s linear infinite; 
}

@keyframes fireworks {
  0% {
      transform: translateX(-50%) translateY(0) scale(1);
      opacity: 1;
  }
  100% {
      transform: translateX(-50%) translateY(-50px) scale(0);
      opacity: 0; 
  }
}

.hero-text{
  display: flex;
  flex-direction: column;
  font-family: inherit;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 550px;
}

.hero-text h1 {
  color: #2d2e32;
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem
}

.hero-text p {
  color: #555;
  font-family: Mulish,sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.6;
}

.hero-img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url("../img/bilal.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 45rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 45rem;
  box-shadow: 
    0 0 2px red,
    0 0 4px orange,
    0 0 6px yellow,
    0 0 8px green,
    0 0 10px blue,
    0 0 12px indigo,
    0 0 14px violet;
}

.icons {
  font-size: 2.5rem;
  display:flex;
  gap: 1rem;
  align-items: center;
}

.icons a{
  color: black;
}

@media (max-width: 1000px) {
  .hero { 
    height: auto;
    padding: 11rem 0;
  }

  .icons{
    justify-content: center;
  }
  .icon-box ul {
    display: flex;
    list-style-type: none;
    margin: auto;
    gap: 1rem;
    justify-content: center;
  }
  .tech-text p span{
    padding-right: 0;
    border-bottom: 2px solid rgba(45,46,50,.5);
    border-right: none;
  }
  
}

@media (max-width: 1000px) {
  .hero-text,.tech-text,.icon-box{
    width: 300px;
  }

  .hero-text h1{
    font-size: 4.5rem;

  }
}

@media (max-width: 1000px) {
  .hero-main {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
  .tech-stack{
    flex-direction: column;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
  .hero-text h1 {
    color: #2d2e32;
    font-size: 2.1rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem
  }
}

@media (max-width: 1000px){
  .hero-img{
    height: 25rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 25rem;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.about-container {
  background-color: white;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.about-content {
  display: grid;
  grid-template-columns: 41rem 41rem; 
  justify-content: center; 
  align-items: center; 
  margin-top: 10rem; 
  margin-bottom: 10rem;
  gap: 7.5rem;
}

.about-img {
  background-image: url("https://wallpapers.com/images/featured/4k-laptop-yn553k4gdhpc4hlh.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.7rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

@media (max-width: 600px) {
  .about-content,.grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img, .about-me,.img-container-project,.info-right  {
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
    width: 29rem;
  }
  .icon-box ul li img{
    width: 100%;
    height: auto;
  }
  .maincontainer{
    margin-bottom:25rem ;
  }
  .header{
    margin-top: 5rem;
    text-align: center;
  }
  .img-container-project{
    margin: auto;
    height: 20rem;
    width: 31rem;
  }

}

@media (min-width: 601px) and (max-width: 968px) {
  .about-content,.grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 10rem; 
    margin-bottom: 10rem;
  }
  .about-img,.about-me,.info-right{
    height: 31rem; 
    width: 35rem; 
    margin-left: auto;
    margin-right: auto;
  }
  .img-container-project{
    margin: auto;
    height: 30rem;
    width: 46rem;
  }

  .header{
    margin-top: 5rem;
    text-align: center;
  }

}

@media(min-width: 969px){
  .about-img,.about-me  {
    height: 35rem;
    width: 41rem;
  }
  .grid-container{
    grid-template-columns: 55% 45%;
    margin-top: 10rem; 
    margin-bottom: 10rem;
  }
  
  .header{
    margin-top: 5rem;
    margin-left: 40vw;
  }

  .img-container-project{
    margin-left: auto;
    margin-right: 0;
    height: 35rem;
    width: 55rem;
  }

}

.h1-about-me {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 700;
  background-image: linear-gradient(to right, purple 0%, blue 80%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.h1-dev-type{
  font-size: 2.5rem;
  color: #2d2e32;
  line-height: 1.4;
  margin-bottom: 2rem;
} 

.p-dev-info{
  color: #767676;
  font-family: Mulish, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.Projects-container{
  margin-bottom: 10rem;
}

.Projects-container .header h2{
  color: var(--purple);
  font-size: 2.2rem;
} 

.Projects-container .header h3{
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  gap: 5rem;
}

.img-container-project{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.7rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}
.img-container-project.one{
  background-image: url("../img/project-4-sight.png");
}
.img-container-project.two{
  background-image: url("../img/energisuite.png");
}
.img-container-project.three{
  background-image: url("../img/EnergiReaperReborn.png");
}
.img-container-project.four{
  background-image: url("../img/nemo-the-duck-bot.png");
}

.info-right{
  width: 35rem;
  height: 35rem;
  width: 35rem;
}

.info-right .title{
  color: #2d2e32;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.project-info{
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  line-height: 1.4;
  color: #767676;
}

.project-languages ul {
  list-style: none;
  text-align: center;
  list-style-type: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-languages ul li {
  color: var(--purple); 
}

.project-languages li {
  display: inline-block;
  margin-right: 10px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.links {
  margin-top: 10px;
  text-align: center;
}

.icons-project {
  font-size: 24px;
}

.icons-project a {
  color: #333;
  text-decoration: none;
}

.icons-project a:hover {
  color: #000;
}


