* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --purple: #6610f2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
}

nav {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px 40px 25px 50px;
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  background-color: white;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  z-index: 200;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav ul a:hover {
  color: var(--purple);
}

nav ul a {
  color: #2d2e32;
  text-decoration: none;
  transition: color 1.00s; 
  font-weight: 600;
  position: relative; 
}

nav ul a::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black; 
  transform-origin: center; 
  transition: transform 0.5s, width 0.3s; 
  transform: scaleX(0); 
}

nav ul a:hover::after {
  transform: scaleX(1); 
  background-color: var(--purple); 
}

nav ul a::after {
  transition: transform 0.5s, width 0.3s, background-color 0.5s;
}

.logo {
  cursor: pointer;
  color: var(--purple);
  animation: colorTransition 5s infinite;
}

.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.sidebar a{
  font-size: 1.5em;
}

@keyframes colorTransition {
  0% {
    color: var(--purple); 
  }
  25% {
    color: #2d2e32; 
  }
  50% {
    color: var(--purple); 
  }
  75% {
    color: #2d2e32; 
  }
  100% {
    color: var(--purple); 
  }
}

@media (min-width: 601px){
  .mainbar li:last-child {
    display: none;
  }
}

@media (max-width: 600px) {
  .mainbar li:not(:last-child) {
    display: none;
  }
}
